.teste {
    margin: 0 17px 17px 17px;
}

#dividerNovoVeiculo {
    cursor: pointer;
}

.hideNovoVeiculo {
    height: 0 !important;
    transition: 0.2s linear;
}

.platform-ios .showNovoVeiculo {
    height: 201px !important;
    transition: 0.2s linear;
}

.platform-android .showNovoVeiculo {
    height: 204px !important;
    transition: 0.2s linear;
}

#divVeiculos {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.cardVeiculos {
    opacity: 1;
}